<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./css/app.css" />
    <title>pizza</title>
  </head>
  <body>

    <!-- navbar -->
    <nav class="navbar container my-4 mx-auto flex items-center justify-between">
      <!-- left-nav -->
      <div class="flex items-center">
        <img class="logo" src="./img/logo.png" alt="logo">
        <h1 class="logo-heading ml-3">Hot Pizza</h1>
      </div>
      <!-- right-nav -->
      <div>
        <ul class="flex mx-auto items-center">
          <li class="ml-6">
            <a href="#">menu</a>
          </li>
          <li class="ml-6">
            <a href="#">offers</a>
          </li>
          <li class="ml-6">
            <a href="#">register</a>
          </li>
          <li class="ml-6">
            <a href="#">login</a>
          </li>
          <li class="ml-9">
            <a href="#">
              <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- hero section -->
    <section class="hero">
      <div></div>
      <div></div>
    </section>

    <!-- scripts -->
    <script src="./js/app.js"></script>
  </body>
</html>
