body {
  font-family: "Roboto", sans-serif;
  --webkit-font-smoothing: antialiased;
  color: #232323;
}

.navbar .logo {
  width: 4rem;
  height: 3rem;
}

.navbar .logo-heading {
  font-weight: bolder;
  font-size: 2rem;
}

nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #FE5F1E;
}

nav li:last-child a {
  background-color: #FE5F1E;
  padding: 0.7rem 1rem;
  color: #ffffff;
  border-radius: 1rem;
}
nav li:last-child a:hover {
  background-color: #b23301;
}

.hero {
  background-color: #F8F8F8;
}

.hero .hero-btn {
  transition: all 0.3s ease-in-out;
  letter-spacing: 2px;
  background-color: #FE5F1E;
}
.hero .hero-btn:hover {
  background-color: #b23301;
}

.size {
  background: #F8F8F8;
}

.add-to-cart {
  border: 2px solid #b23301;
  color: #b23301;
  transition: all 0.3s ease-in-out;
}
.add-to-cart:hover {
  background-color: #b23301;
  color: #ffffff;
}
