body {
  font-family: "Roboto", sans-serif;
  --webkit-font-smoothing: antialiased;
  color: #232323;
}

.navbar .logo {
  width: 4rem;
  height: 3rem;
}

.navbar .logo-heading {
  font-weight: bolder;
  font-size: 2rem;
  text-shadow: royalblue;
}

.navbar .cart {
  width: 3rem;
  height: 3rem;
}
